body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.izquierda{
    height: 30vh;
    width: 10vw;
    background: rgb(18, 214, 77);
    border: 0.5em solid rgb(12, 14, 1);
    display: grid;
    grid-template-rows: 50%;
    align-items: center;
    justify-content: center;
}

.select{
    height: 3.5em;
    width: 3.5em;
    background-color: rgb(209, 206, 206);
    border: 0.1em solid black;
    text-align: center;
}

.pantalla{
    height: 30vh;
    width: 20vw;
    background: rgb(18, 142, 214);
    border: 0.5em solid rgb(236, 70, 214);
}

.derecha{
    height: 30vh;
    width: 10vw;
    background-color: rgb(239, 74, 19);
    border: 0.5em solid grey;
    display: grid;
    grid-template-rows: 50%;
}